.container{
    margin: 0%;
    padding: 0%;
    
}
#h1{
    color: greenyellow;

}
#p1{
    background-color: red;
    color: black;
    display: inline;

}
#p2{
    background-color: orange;
    color: white;
    display: inline;

}
#button{
    background-color: blue;
    color: black;
    border: 2px solid black;

}