*{
    padding:0%;
    margin: 0%;
}
#container{
    background-color: blueviolet;
    height: 720px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}
#item-1, #item-2, #item-3, #item-4 {
    background-color: orange;
    height: 40vh;
    height: 120px;
    width: 120px;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    
}